
.title {
  font-size: 1.5em;

}

button {
  margin: 5px;
}

.favoritos {
  color: rgb(231, 218, 27);
  font-size: 1.2em;
  margin-left: 20px;
  cursor: pointer;
}


.searcFrom {
  max-width: 1000px;
}

@media(max-width:800px) {
  .searcFrom, .searcFrom mat-form-field {
    max-width: 300px;
  }
}
