<header>
  <mat-toolbar>

      <div class="logo">
        <a routerLink="/"><img src="../../../../assets/img/logo-sem-fundo.png" alt="Logo Aurora"></a>
        <h1>Aurora Livraria</h1>
      </div>

    <div class="user">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <span></span>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>


    </div>
  </mat-toolbar>
</header>
